#mainheading{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 2px red;
    text-align: center;
}
nav{
    text-align: center;
}
